@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

/* highlight the active thumbnail */
.hs-carousel-pagination-item.hs-carousel-active img,
.hs-carousel-pagination-item.active-thumb img {
  border: 5px solid #2563eb !important;
  transform: scale(1.03) !important;
  transition: all 0.2s ease-in-out !important;
}


/* Hide scrollbar but keep scroll functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 768px) {
.user-layout{
  padding-left: 1.8rem !important;
    padding-right: 1.8rem !important;
}
}

@media (max-width: 640px) {
  .Toastify__toast-container--bottom-right {
    width: 60% !important;
    right: 0 !important;
    left: auto !important;
  }

  .login-padding{
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.user-layout{
  padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}
}

.login-padding{
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.user-layout{
  padding-left: 5rem;
    padding-right: 5rem;
}